apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-static-sites
  namespace: web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-static-sites
  template:
    metadata:
      labels:
        app: nginx-static-sites

    spec:
      containers:
      - name: nginx-static-sites
        # https://hub.docker.com/_/nginx/tags
        image: nginx:stable
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "4000m"
        ports:
          - containerPort: 80
        volumeMounts:
          - name: site-data
            mountPath: /var/www
          - name: nginx-config
            mountPath: /etc/nginx/conf.d
      volumes:
      - name: site-data
        persistentVolumeClaim:
          claimName: static-sites-html-pvc
      - name: nginx-config
        persistentVolumeClaim:
          claimName: static-sites-config-pvc