apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress-route.yaml
  - pv.yaml
  - pvc.yaml

generators:
  - secret-generator.yaml

replacements:
# Ingress Route
  - source:
      kind: Secret
      name: nginx-static-sites-secrets
      fieldPath: stringData.INGRESS_ROUTE_MATCH
    targets:
      - select:
          kind: IngressRoute
          name: nginx-static-sites
        fieldPaths:
          - spec.routes.0.match