apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - middleware.yaml

generators:
  - secret-generator.yaml

helmCharts:
- name: authentik
  version: 2024.12.1
  repo: https://charts.goauthentik.io
  valuesFile: values-override.yaml
  releaseName: authentik
  namespace: web

replacements:
  - source:
      kind: Secret
      name: authentik-secrets
      fieldPath: stringData.INGRESS_ROUTE_MATCH
    targets:
      - select:
          kind: IngressRoute
          name: authentik
        fieldPaths:
          - spec.routes.0.match
