apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n

    spec:
      containers:
      - name: n8n
        # https://hub.docker.com/r/n8nio/n8n
        image: docker.n8n.io/n8nio/n8n:2.4.5
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
        ports:
        - containerPort: 5678
        env:
        - name: GENERIC_TIMEZONE
          value: "America/Chicago"
        - name: TZ
          value: "America/Chicago"
        - name: WEBHOOK_URL
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: WEBHOOK_URL
        - name: DB_TYPE
          value: "postgresdb"
        - name: DB_POSTGRESDB_HOST
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_HOST
        - name: DB_POSTGRESDB_PORT
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_PORT
        - name: DB_POSTGRESDB_DATABASE
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_PASSWORD
        - name: N8N_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: N8N_ENCRYPTION_KEY
        volumeMounts:
        - name: config
          mountPath: /home/node/.n8n
          subPath: n8n
      volumes:
      - name: config
        hostPath:
          path: /mnt/kubernetes-data/n8n-config # This path contains the same files on all nodes 
          type: DirectoryOrCreate
