apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n

    spec:
      initContainers:
        - name: init-config-folder
          image: busybox
          command:
            - sh
            - -c
            - |
              mkdir -p /mnt/config/n8n & \
              ls -lah /mnt/config & \
              ls -lah /mnt/config/*
          volumeMounts:
            - name: config
              mountPath: /mnt/config
      containers:
      - name: n8n
        # https://hub.docker.com/r/n8nio/n8n
        image: docker.n8n.io/n8nio/n8n:2.4.5
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
        ports:
        - containerPort: 5678
        env:
        - name: GENERIC_TIMEZONE
          value: "America/Chicago"
        - name: TZ
          value: "America/Chicago"
        - name: WEBHOOK_URL
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: WEBHOOK_URL
        - name: DB_TYPE
          value: "postgresdb"
        - name: DB_POSTGRESDB_HOST
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_HOST
        - name: DB_POSTGRESDB_PORT
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_PORT
        - name: DB_POSTGRESDB_DATABASE
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: DB_POSTGRESDB_PASSWORD
        - name: N8N_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: n8n-secrets
              key: N8N_ENCRYPTION_KEY
        volumeMounts:
        - name: n8n
          mountPath: /home/node/.n8n
      volumes:
      - name: n8n
        persistentVolumeClaim:
          claimName: n8n-pvc
