apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: web
  name: sonarr
spec:
  entryPoints:
    - web
  routes:
    - match: ingress-route-match
      kind: Rule
      middlewares:
        - name: https-proto
        - name: authelia-forwardauth
      services:
        - name: sonarr
          port: 80

