apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr

    spec:
      initContainers:
        - name: init-config-folder
          image: busybox
          command:
            - sh
            - -c
            - |
              mkdir -p /mnt/config/sonarr & \
              ls -lah /mnt
          volumeMounts:
            - name: config
              mountPath: /mnt/config
      containers:
      - name: sonarr
        # https://github.com/linuxserver/docker-sonarr/releases/latest
        image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls301
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "5Gi"
            cpu: "2000m"
        ports:
        - containerPort: 8989
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Chicago"
        volumeMounts:
        - name: config
          mountPath: /config
          subPath: sonarr
        - name: media
          mountPath: /media
        - name: downloads-sabnzbd
          mountPath: /downloads/sabnzbd
      volumes:
      - name: media
        persistentVolumeClaim:
          claimName: sonarr-media-pvc
      - name: downloads-sabnzbd
        persistentVolumeClaim:
          claimName: sonarr-downloads-sabnzbd-pvc
      - name: config
        persistentVolumeClaim:
          claimName: sonarr-config-pvc