apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr

    spec:
      containers:
      - name: sonarr
        # https://github.com/linuxserver/docker-sonarr/releases/latest
        image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls301
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "5Gi"
            cpu: "2000m"
        ports:
        - containerPort: 8989
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "America/Chicago"
        volumeMounts:
        - name: sonarr-config
          mountPath: /config
        - name: media
          mountPath: /media
        - name: downloads-sabnzbd
          mountPath: /downloads/sabnzbd
      volumes:
      - name: media
        persistentVolumeClaim:
          claimName: sonarr-media-pvc
      - name: downloads-sabnzbd
        persistentVolumeClaim:
          claimName: sonarr-downloads-sabnzbd-pvc
      - name: sonarr-config
        hostPath:
          path: /lxc-configs/sonarr-config # This path contains the same files on all nodes 
          type: DirectoryOrCreate