apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: media
  name: sabnzbd
spec:
  entryPoints:
    - web
  routes:
    - match: ingress-route-match
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
          namespace: web
      services:
        - name: sabnzbd
          port: 80
    - match: ingress-route-match-outpost
      kind: Rule
      priority: 15
      services:
        - name: authentik-server
          namespace: web
          port: 80

