apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: media
  name: overseerr
spec:
  entryPoints:
    - web
  routes:
    - match: ingress-route-match
      kind: Rule
      middlewares:
        - name: authelia-forwardauth
          namespace: web
      services:
        - name: overseerr
          port: 80

